[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
python-language-server = "*"
flake8 = "*"
isort = "*"
autopep8 = "*"
pynvim = "*"

[packages]
torch = "*"
pytorch-lightning = "*"
tensorboardx = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
japanize-matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
ipython = "*"

[requires]
python_version = "3.7"
